/* Стили для модальных окон */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Чтобы фон был полупрозрачным */
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "Roboto", sans-serif;
}
.modalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ModalWrapper {
  background-color: #fff; /* Белый фон */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тень для эффекта высоты */
  max-width: 80%;
}

.ModalBody h1 {
  font-weight: 400;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  padding-top: 85px;
}

.ModalBody p {
  font-size: 16px;
  color: #7f7f7f;
  text-align: center;
  padding-bottom: 40px;
  line-height: 19px;
  margin: 0 56px;
}
.ModalFooter {
  display: flex;
  justify-content: center;
}
.ModalClose {
  align-self: flex-end;
  border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    overflow: hidden;
}
.firstButton {
  background-color: #8a33fd;
  margin-bottom: 56px;
  padding: 14px 50px;
}
.secondButton {
  background-color: white;
  border: 1px solid black;
  color: #8a33fd;
  margin-bottom: 56px;
  padding: 14px 50px;
}
.image {
  width: 246px;
  height: 140px;
  padding-top: 40px;
}
.modalFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}
